<!DOCTYPE html>
<html>
<head>
    <title>推推助手-让推广更高效 淘宝客首选，最强大的淘宝隐藏券搜索引擎|鹊桥搜索|大淘客联盟</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="淘宝客，推推助手，大淘客，轻淘客，查淘客，鹊桥查询，隐藏优惠券，淘宝客软件,"/>
    <meta name="description" content="推推助手致力于让一切操作更简便，为购买者提供优惠的价格，为卖家提供优质的服务，解放双手，人人都能轻松打造属于自己的店铺网站!"/>
    <link rel="Bookmark" href="images/favicon.ico"/>
    <link rel="Shortcut Icon" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/indexcom.css"/>
    <link rel="stylesheet" type="text/css" href="css/index1.css"/>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/jquery.lazyload.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/unslider.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/index1.js"></script>
</head>
<body>
<div class="hd">
    <div class="hd1">
        <div class="hd1 wth">
            <div class="hd1_left fl">
                <p>推推交流群：<a href="" target="_blank">暂无</a>&nbsp;&nbsp;&nbsp;微信：暂无</p></div>
            <div class="hd1_right fr">
                <ul>
                    <li><a href="/login">登录</a></li>
                    <li><a href="/register">免费注册</a></li>
                    <!--
<li><a href="#">收藏本站</a></li>
<li><a href="#">设为首页</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="hd2 clearfix wth">
            <h1 class="hd2_left fl"><a href="/"><img src="images/logo.png" alt="推推助手" width="207"
                                                     height="60"/></a></h1>
            <div class="hd2_search fl">
                <span><a href="/" class="search">站内搜索</a></span>
                <!--<span><a href="http://queqiao.taokezhushou.com" target="_blank">鹊桥搜索</a></span>-->
                <form action="/search" method="get">
                    <input type="text" class="search_text fl" placeholder="请输入您要搜索的商品（本站）名称或链接" name="q" value=""/>
                    <input type="submit" value="搜 索" class="search_btn fl"/>
                </form>
            </div>
            <div class="hd2_right fr"><img src="images/logofr.png" alt="让推广更高效" width="122" height="100"/></div>
        </div>
        <div class="hd_nav wth">
            <ul>
                <li class="nav1"><a href="/" class="navone">首页</a></li>
                <li><a class="hv" href="javascript:layer.alert('待开发');">热文<i></i></a></li>
                <!--
<li><a class="hv" href="javascript:layer.alert('相关教程正在录制....');">推推学院</a></li>
<li><a class="hv" href="javascript:layer.alert('API接口暂未开放，测试稳定后我们会及时放出');">开放API</a></li>
<li><a class="hv" href="javascript:layer.alert('圈子功能正在开发，上线还需要一点点时间');">推推圈子</a></li> -->
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="main1 wth">
        <div class="main1_left fl">
            <ul class="clearfix">
                <li class="lis1">
                    <div class="ldicon icon1">
                        <i></i>
                        <h2><a href="http://dl.taokezhushou.com" target="_blank">浏览器插件</a></h2>
                        <p>佣金、优惠券快捷查询</p>
                    </div>
                </li>
                <li class="lis1">
                    <div class="ldicon bd-top icon2">
                        <i></i>
                        <h2><a href="javascript:layer.alert('紧张开发中，尽情期待');">PC客户端</a></h2>
                        <p>批量生成链接，一键群发</p>
                    </div>
                </li>
                <li class="lis1">
                    <div class="ldicon bd-top icon3">
                        <i></i>
                        <h2><a href="javascript:layer.alert('给我们一点点时间，我们能做得更好');">CMS系统</a></h2>
                        <p>0门槛建站，提升收益</p>
                    </div>
                </li>
                <li class="lis1">
                    <div class="ldicon bd-top icon4">
                        <i></i>
                        <h2><a href="javascript:layer.alert('给我们一点点时间，我们能做得更好');">手机APP</a></h2>
                        <p>微信推广方便快捷</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main1_center fl">
            <div class="banner">
                <ul>
                    <li><a href="#" target="_blank"><img
                            src="http://acdn.taokezhushou.com/taokezhushouweb/Syl6IFSgzfncrtasuTc5qaIZDJjocFll.jpg@1e_1c_0o_0l_375h_650w_100q.src"
                            alt="广告3"/></a></li>
                    <li><a href="#" target="_blank"><img
                            src="http://acdn.taokezhushou.com/taokezhushouweb/43JKDiomRuRWXYcq521W6T7u3K1vfeOM.jpg@1e_1c_0o_0l_375h_650w_100q.src"
                            alt="广告2"/></a></li>
                    <li><a href="http://dl.taokezhushou.com" target="_blank"><img
                            src="http://acdn.taokezhushou.com/taokezhushouweb/7pNwOgkihFENaajCTJo2EKFhfaqZsQIC.jpg@1e_1c_0o_0l_375h_650w_100q.src"
                            alt="广告1"/></a></li>
                </ul>
            </div>
        </div>
        <div class="main1_right fr">
            <div class="main1_right1">
                <div class="rootload ">
                    <ul>
                        <li><a href="/login">用户登录</a></li>
                        <li class="rootld"><a href="/register">用户注册</a></li>
                    </ul>
                </div>
                <div class="right2">
                    <form action="/login" method="post">
                        <input type="hidden" name="_token" value="QFE1KaH1OY6UHV0IpfH9kATNay0FPFtRsfyedvUj"/>
                        <p>登录名: </p>
                        <div class="error"></div>
                        <input type="text" name="mobile" value=""/>
                        <p>登录密码:<span class="ft-pw"><a href="#">忘记登录密码？</a></span></p>
                        <input type="password" name="password"/>
                        <p class="loading"><input type="submit" value="登 录"/></p>
                    </form>
                </div>
            </div>
            <div class="main1_right2">
                <ul class="right2-nav">
                    <li class="right-nav1"><a href="#">公告</a></li>
                    <li class="right-nav2"><a href="#">推荐</a></li>
                    <li class="right-nav3"><a href="#">教程</a></li>
                </ul>
                <div class="right2_btm">
                    <ul class="message1">
                        <li><a href="/articles/10" target="_blank"></a></li>
                        <li><a href="/articles/9" target="_blank">推推助手转链以及优惠券商品二合一页发布公告!</a></li>
                    </ul>
                    <ul class="message2">
                    </ul>
                    <ul class="message3">
                        <li><a href="/articles/8" target="_blank">推推助手网站插件注册使用教程</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main2 wth">
        <div class="main2_doc clearfix">
            <i class="fl"></i>
            <ul>
                <li><a href="/" class="all">全部(11533)</a></li>
                <li><a href="/cate/1">女装(1912)</a></li>
                <li><a href="/cate/2">男装(835)</a></li>
                <li><a href="/cate/3">鞋包(1086)</a></li>
                <li><a href="/cate/5">家居(2134)</a></li>
                <li><a href="/cate/6">文体(700)</a></li>
                <li><a href="/cate/7">电器(230)</a></li>
                <li><a href="/cate/8">配饰(569)</a></li>
                <li><a href="/cate/9">数码(367)</a></li>
                <li><a href="/cate/10">美食(909)</a></li>
                <li><a href="/cate/11">美妆(792)</a></li>
                <li><a href="/cate/12">母婴(1349)</a></li>
                <li><a href="/cate/13">其他(943)</a></li>
            </ul>
            <button type="button" class="searchbtn fr" style="display:none;"></button>
            <input type="text" class="searchword fr" placeholder="搜索商品" style="display:none;"/>
        </div>
    </div>
</div>
<div class="goods clearfix">
    <div class="goods1 wth clearfix">
        <div class="newdays1 newds1 clearfix">
            <i></i>
            <p>每天10点上新</p>
        </div>
        <ul class="mg clearfix">
            <li class="good1_one fl">
                <div class="goods-a">
                    <a href="/detail/60312" target="_blank"><img
                            src="http://acdn.taokezhushou.com/90683d0a3e110d921a5c14134ed94097.jpg@1e_1c_0o_0l_287h_287w_100q.src"
                            width="287" height="287"/></a>
                    <div class="title">
                        <i class="tit1"></i>
                        <p><a href="/detail/60312" target="_blank">欧美s925银锆石四叶草女个性耳环</a></p>
                    </div>
                    <div class="coupon">优惠券<span class="num1 gd_wd">40.00</span>元，剩余数量<span
                            class="num2 gd_wd">2355</span>/<span class="num3">3000</span></div>
                    <div class="commission">
                        <ul>
                            <li class="com1 gd_wd2 fl">佣金<span>40.5%</span></li>
                            <li class="com2 fl">定向</li>
                            <li class="com3 fl">秒过</li>
                            <li class="com4 fr">目前销量<span class="com4_num gd_wd2">2717</span></li>
                        </ul>
                    </div>
                    <div class="good_btm">
                        <ul>
                            <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">9.9</span></li>
                            <li class="btm2 fl">&yen;49.9</li>
                            <li class="btm3 fr"><a href="/detail/60312" target="_blank">立即推广</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="good1_one fl">
                <div class="goods-a">
                    <a href="/detail/58473" target="_blank"><img
                            src="http://acdn.taokezhushou.com/34b3b84435239508c3a3ee447d2749a6.jpg@1e_1c_0o_0l_287h_287w_100q.src"
                            width="287" height="287"/></a>
                    <div class="title">
                        <i class="tit0"></i>
                        <p><a href="/detail/58473" target="_blank">室内盆栽 绿植水培植物</a></p>
                    </div>
                    <div class="coupon">优惠券<span class="num1 gd_wd">5.00</span>元，剩余数量<span
                            class="num2 gd_wd">1422</span>/<span class="num3">5000</span></div>
                    <div class="commission">
                        <ul>
                            <li class="com1 gd_wd2 fl">佣金<span>40%</span></li>
                            <li class="com2 fl">定向</li>
                            <li class="com3 fl">秒过</li>
                            <li class="com4 fr">目前销量<span class="com4_num gd_wd2">16930</span></li>
                        </ul>
                    </div>
                    <div class="good_btm">
                        <ul>
                            <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">6.8</span></li>
                            <li class="btm2 fl">&yen;11.8</li>
                            <li class="btm3 fr"><a href="/detail/58473" target="_blank">立即推广</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="good1_one fl">
                <div class="goods-a">
                    <a href="/detail/60375" target="_blank"><img
                            src="http://acdn.taokezhushou.com/15360e079120c1ebbc08c70d374955ba.jpg@1e_1c_0o_0l_287h_287w_100q.src"
                            width="287" height="287"/></a>
                    <div class="title">
                        <i class="tit1"></i>
                        <p><a href="/detail/60375" target="_blank">山东烟台红富士苹果 5斤</a></p>
                    </div>
                    <div class="coupon">优惠券<span class="num1 gd_wd">15.00</span>元，剩余数量<span
                            class="num2 gd_wd">4610</span>/<span class="num3">5000</span></div>
                    <div class="commission">
                        <ul>
                            <li class="com1 gd_wd2 fl">佣金<span>31.8%</span></li>
                            <li class="com2 fl">定向</li>
                            <li class="com3 fl">秒过</li>
                            <li class="com4 fr">目前销量<span class="com4_num gd_wd2">209</span></li>
                        </ul>
                    </div>
                    <div class="good_btm">
                        <ul>
                            <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">14.9</span></li>
                            <li class="btm2 fl">&yen;29.9</li>
                            <li class="btm3 fr"><a href="/detail/60375" target="_blank">立即推广</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="good1_one fl">
                <div class="goods-a">
                    <a href="/detail/60984" target="_blank"><img
                            src="http://acdn.taokezhushou.com/ab1d837dc3002e0318f8e63ef27a19f9.jpg@1e_1c_0o_0l_287h_287w_100q.src"
                            width="287" height="287"/></a>
                    <div class="newdays2 newd2"></div>
                    <div class="title">
                        <i class="tit1"></i>
                        <p><a href="/detail/60984" target="_blank">正品巴布豆尿不湿L20片5件非拉拉裤</a></p>
                    </div>
                    <div class="coupon">优惠券<span class="num1 gd_wd">30.00</span>元，剩余数量<span
                            class="num2 gd_wd">9914</span>/<span class="num3">10000</span></div>
                    <div class="commission">
                        <ul>
                            <li class="com1 gd_wd2 fl">佣金<span>30.5%</span></li>
                            <li class="com2 fl">定向</li>
                            <li class="com3 fl">秒过</li>
                            <li class="com4 fr">目前销量<span class="com4_num gd_wd2">45</span></li>
                        </ul>
                    </div>
                    <div class="good_btm">
                        <ul>
                            <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">49</span></li>
                            <li class="btm2 fl">&yen;79</li>
                            <li class="btm3 fr"><a href="/detail/60984" target="_blank">立即推广</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a name="new" id="new"></a>
    <div class="goods2 wth clearfix">
        <div class="goods1">
            <div class="newdays1 newds2">
                <i></i>
                <p>每天10点上新</p>
            </div>
            <ul class="mg clearfix">
                <li class="good1_one fl">
                    <div class="goods-a">
                        <a href="/detail/61091" target="_blank">
                            <img src="http://acdn.taokezhushou.com/f0382ecce3cf9c808c87542a25c39194.png@1e_1c_0o_0l_287h_287w_100q.src"
                                 alt="野生蓝莓花青素片"/>
                            <div class="newdays2 newd2"></div>
                            <div class="title">
                                <i class="tit1"></i>
                                <p><a href="/detail/61091" target="_blank">野生蓝莓花青素片</a></p>
                            </div>
                            <div class="coupon">优惠券<span class="num1 gd_wd1">40.00</span>元，剩余数量<span
                                    class="num2 gd_wd1">19998</span>/<span class="num3">20000</span></div>
                            <div class="commission">
                                <ul>
                                    <li class="com1 gd_wd2 fl">佣金<span>40.5%</span></li>
                                    <li class="com2 fl">定向</li>
                                    <li class="com3 fl">秒过</li>
                                    <li class="com4 fr">目前销量<span class="com4_num gd_wd2">0</span></li>
                                </ul>
                            </div>
                            <div class="good_btm">
                                <ul>
                                    <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">29</span></li>
                                    <li class="btm2 fl">&yen;69</li>
                                    <li class="btm3 fr"><a href="/detail/61091" target="_blank">立即推广</a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="good1_one fl">
                    <div class="goods-a">
                        <a href="/detail/61089" target="_blank">
                            <img src="http://acdn.taokezhushou.com/items/eb0d89d5fb9da7cb84be4d2add19cac2.jpg@1e_1c_0o_0l_287h_287w_100q.src"
                                 alt="热卖特美刻TOMIC家用大容量欧式玻璃内胆黑白色保温壶热水瓶2059"/>
                            <div class="newdays2 newd2"></div>
                            <div class="title">
                                <i class="tit1"></i>
                                <p><a href="/detail/61089" target="_blank">热卖特美刻TOMIC家用大容量欧式玻</a></p>
                            </div>
                            <div class="coupon">优惠券<span class="num1 gd_wd1">30.00</span>元，剩余数量<span
                                    class="num2 gd_wd1">2994</span>/<span class="num3">3000</span></div>
                            <div class="commission">
                                <ul>
                                    <li class="com1 gd_wd2 fl">佣金<span>30.5%</span></li>
                                    <li class="com2 fl">通用</li>
                                    <li class="com3 fl">秒过</li>
                                    <li class="com4 fr">目前销量<span class="com4_num gd_wd2">18</span></li>
                                </ul>
                            </div>
                            <div class="good_btm">
                                <ul>
                                    <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">89</span></li>
                                    <li class="btm2 fl">&yen;119</li>
                                    <li class="btm3 fr"><a href="/detail/61089" target="_blank">立即推广</a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="good1_one fl">
                    <div class="goods-a">
                        <a href="/detail/61088" target="_blank">
                            <img src="http://acdn.taokezhushou.com/items/d09f69d1c78548893c35aefbc1900ade.jpg@1e_1c_0o_0l_287h_287w_100q.src"
                                 alt="365夜睡前好故事启智经典 成长故事全套4册彩图注音正版 宝宝爱看的睡前故事书幼儿书籍童话小人书适合0-1-2-3-4-5-6岁儿童图画书"/>
                            <div class="newdays2 newd2"></div>
                            <div class="title">
                                <i class="tit1"></i>
                                <p><a href="/detail/61088" target="_blank">365夜睡前好故事启智经典 成长故事</a></p>
                            </div>
                            <div class="coupon">优惠券<span class="num1 gd_wd1">10.00</span>元，剩余数量<span
                                    class="num2 gd_wd1">4979</span>/<span class="num3">5000</span></div>
                            <div class="commission">
                                <ul>
                                    <li class="com1 gd_wd2 fl">佣金<span>30%</span></li>
                                    <li class="com2 fl">通用</li>
                                    <li class="com3 fl">秒过</li>
                                    <li class="com4 fr">目前销量<span class="com4_num gd_wd2">281</span></li>
                                </ul>
                            </div>
                            <div class="good_btm">
                                <ul>
                                    <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">19.8</span></li>
                                    <li class="btm2 fl">&yen;29.8</li>
                                    <li class="btm3 fr"><a href="/detail/61088" target="_blank">立即推广</a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="good1_one fl">
                    <div class="goods-a">
                        <a href="/detail/61087" target="_blank">
                            <img src="http://acdn.taokezhushou.com/items/ff267bcc15305ca74f960a10cc7a612e.jpg@1e_1c_0o_0l_287h_287w_100q.src"
                                 alt="冬天男鞋加绒休闲鞋男韩版皮鞋圆头真皮做旧保暖时尚耐磨高帮板鞋"/>
                            <div class="newdays2 newd2"></div>
                            <div class="title">
                                <i class="tit1"></i>
                                <p><a href="/detail/61087" target="_blank">冬天男鞋加绒休闲鞋男韩版皮鞋圆头</a></p>
                            </div>
                            <div class="coupon">优惠券<span class="num1 gd_wd1">40.00</span>元，剩余数量<span
                                    class="num2 gd_wd1">1998</span>/<span class="num3">2000</span></div>
                            <div class="commission">
                                <ul>
                                    <li class="com1 gd_wd2 fl">佣金<span>30.5%</span></li>
                                    <li class="com2 fl">定向</li>
                                    <li class="com3 fl">秒过</li>
                                    <li class="com4 fr">目前销量<span class="com4_num gd_wd2">0</span></li>
                                </ul>
                            </div>
                            <div class="good_btm">
                                <ul>
                                    <li class="btm1 fl">券后&nbsp;&yen;&nbsp;<span class="value">119</span></li>
                                    <li class="btm2 fl">&yen;159</li>
                                    <li class="btm3 fr"><a href="/detail/61087" target="_blank">立即推广</a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="pages wth">
        <ul class="pagination">
            <li class="disabled"><span>上一页</span></li>
            <li class="active"><span>1</span></li>
            <li><a href="http://www.taokezhushou.com?page=2#new">2</a></li>
            <li><a href="http://www.taokezhushou.com?page=3#new">3</a></li>
            <li><a href="http://www.taokezhushou.com?page=4#new">4</a></li>
            <li><a href="http://www.taokezhushou.com?page=5#new">5</a></li>
            <li><a href="http://www.taokezhushou.com?page=6#new">6</a></li>
            <li><a href="http://www.taokezhushou.com?page=7#new">7</a></li>
            <li><a href="http://www.taokezhushou.com?page=8#new">8</a></li>
            <li class="disabled"><span>...</span></li>
            <li><a href="http://www.taokezhushou.com?page=115#new">115</a></li>
            <li><a href="http://www.taokezhushou.com?page=116#new">116</a></li>
            <li><a href="http://www.taokezhushou.com?page=2#new" rel="next">下一页</a></li>
        </ul>
    </div>
</div>
<div class="foot">
    <div class="foot1 wth">
        <ul>
            <li><img src="images/foot1.png" alt="二维码"/></li>
            <li>帮助中心
                <ul>
                    <li><a href="#">淘宝助手安装指南</a></li>
                </ul>
            </li>
            <li>常见问题
                <ul>
                    <li><a href="#">招商规则</a></li>
                    <li><a href="#">违规商家处罚</a></li>
                    <li><a href="#">商家如何报名</a></li>
                </ul>
            </li>
            <li>投诉意见
                <ul>
                    <li><a href="#">招商违规投诉</a></li>
                    <li><a href="#">应用建议</a></li>
                </ul>
            </li>
            <li>关于我们
                <ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </li>
            <li class="images_ft02"></li>
        </ul>
    </div>
    <div class="foot2">
        <div class="foot2_image wth">
            <ul>
                <li class="imageone"></li>
                <li class="imagetwo"></li>
                <li class="imagethree"></li>
                <li class="install"><a href="http://dl.taokezhushou.com" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</div>
<div id="goTop" class="goTop"></div>
</body>
</html>