
<!DOCTYPE html>
<html>
<head>
    <title>用户注册 淘客助手-让推广更高效</title>
    <meta charset="gb2312" />
    <link rel="stylesheet" type="text/css" href="static/css/user-common.css">
    <link rel="stylesheet" type="text/css" href="static/css/register.css?v1.3">
    <script src="static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="static/layer/layer.js"></script>
    <script src="static/js/jquery.validate.min.js"></script>
    <script src="static/js/additional-methods.js"></script>
    <script>
        $.ajaxSetup({
            headers: { 'X-CSRF-TOKEN' : 'xjqVIqs8GzBB1kbs69Z7VSMN8CpoB1xfa3I2dLaV' }
        });
    </script>
    <script src="http://static.geetest.com/static/tools/gt.js"></script>
</head>
<body>
<div class="header">
    <div class="logo wth">
        <div class="logoleft fl">
            <a href="/"><img src="static/images/logo.png"></a>
        </div>
        <div class="logoright fr">
            <img src="static/images/logoright.png">
        </div>
    </div>
</div>
<div class="main wth">
    <div class="main-title">
        <p class="title-lf1 fl">新用户注册</p>
        <p class="title-lf2 fl">/</p>
        <p class="title-lf3 fl">注册推推助手，高效推广</p>
        <p class="title-rt1 fr">已有账号,<span class="title-rt2"><a href="/login">立即登录</a></span></p>
    </div>
    <div class="main-infro clearfix">
        <div class="geetest" style="width:365px;margin-top:20px;float:left;display:none">
            <div id="embed-captcha"></div>
            <p id="wait" class="show">正在加载验证码，如果长时间不出来，请刷新页面......</p>
            <p id="notice" class="hide">请先拖动验证码到相应位置</p>
        </div>
        <div class="content-landing fl">
            <form id="register">
                <ul>
                    <li id="emailMatch_list">
                        <div class="clearfix">
                            <label class="normal fl">手机号码：</label>
                            <input class="normal-input fl" type="text" id="phone" name="phone"/>
                            <div class="error-box fl" id="email_warn">
                                <strong class="error" style="display:none"></strong>
                                <p class="tip">请输入手机号码</p>
                            </div>
                        </div>
                    </li>
                    <li id="verify_display">
                        <label class="normal fl">验证码：</label>
                        <input class="normal-input code-input fl" id="code" name="code" type="text" placeholder="验证码" autocomplete="off"/>
                        <button id="sendVerifySmsButton">点击获取验证码</button>
                        <div class="error-box fl" id="code_warn">
                            <p class="tip"></p>
                        </div>
                    </li>
                    <li class="set-password clearfix">
                        <label class="normal fl">登录密码：</label>
                        <input type="password" class="normal-input fl" id="password"/>
                        <div class="error-box fl" id="password_warn">
                            <strong class="error" style="display:none"></strong>
                            <p class="tip" style="display:none">请输入密码</p>
                        </div>
                    </li>
                    <li class="set-password clearfix">
                        <label class="normal fl">确认密码：</label>
                        <input type="password" class="normal-input fl" id="password-check" name="password"/>
                        <div class="error-box fl" id="">
                            <strong class="error" style="display:none"></strong>
                            <p class="tip" style="display:none">请再次输入相同的密码</p>
                        </div>
                    </li>
                    <li>
                        <label class="normal fl"></label>
                        <div class="botn">
                            <input type="submit" class="sub" value="立即注册">
                        </div>
                    </li>
                    <li class="agreement">
                        <div class="agree">
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="infro-right fr">
            <a href="#"><img src="static/images/main_fr.png" alt="推推助手，让推广更高效"></a>
        </div>
    </div>
</div>
<div class="foot wth">
    <p>&nbsp;&nbsp;|&nbsp;ICP许可证号：&nbsp;|&nbsp;Copyright &copy;&nbsp;2010-2016&nbsp;tuituizhushou.com All Rights Reserved</p>
</div>
<script src="static/js/register.js"></script>

</body>
</html>